<!--begin::Card-->
<div class="card card-custom gutter-b">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
      <div class="card-title">
        <h3 class="card-label">
          Sponsors Listing
          <span class="d-block text-muted pt-2 font-size-sm"
            >row selection and group actions</span
          >
        </h3>
      </div>
      <div class="card-toolbar">
        <!--begin::Button-->
        <a class="btn btn-primary font-weight-bolder">
          <span class="svg-icon svg-icon-md">
            <!-- <img src="./assets/media/svg/icons/Design/Flatten.svg" /> -->
            <!--begin::Svg Icon | path:assets/media/svg/icons/Design/Flatten.svg-->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="24px"
              height="24px"
              viewBox="0 0 24 24"
              version="1.1"
            >
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <rect x="0" y="0" width="24" height="24" />
                <circle fill="#000000" cx="9" cy="15" r="6" />
                <path
                  d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z"
                  fill="#000000"
                  opacity="0.3"
                />
              </g>
            </svg>
            <!--end::Svg Icon--> </span
          >New Record</a
        >
        <!--end::Button-->
      </div>
    </div>
    <div class="card-body">
      <!--begin: Search Form-->
      <!--begin::Search Form-->
      <div class="mb-7">
        <div class="row align-items-center">
          <div class="col-lg-9 col-xl-8">
            <div class="row align-items-center">
              <div class="col-md-4 my-2 my-md-0">
                <div class="input-icon">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Search..."
                    id="kt_datatable_search_query"
                  />
                  <span>
                    <i class="flaticon2-search-1 text-muted"></i>
                  </span>
                </div>
              </div>
              <div class="col-md-4 my-2 my-md-0">
                <div class="d-flex align-items-center">
                  <label class="mr-3 mb-0 d-none d-md-block">Status:</label>
                  <select class="form-control" id="kt_datatable_search_status">
                    <option value="">All</option>
                    <option value="1">Pending</option>
                    <option value="2">Delivered</option>
                    <option value="3">Canceled</option>
                    <option value="4">Success</option>
                    <option value="5">Info</option>
                    <option value="6">Danger</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4 my-2 my-md-0">
                <div class="d-flex align-items-center">
                  <label class="mr-3 mb-0 d-none d-md-block">Type:</label>
                  <select class="form-control" id="kt_datatable_search_type">
                    <option value="">All</option>
                    <option value="1">Online</option>
                    <option value="2">Retail</option>
                    <option value="3">Direct</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-xl-4 mt-5 mt-lg-0" (click)="onRefreshClick()">
            <a class="btn btn-light-primary px-6 font-weight-bold">Search</a>
          </div>
        </div>
      </div>
      <!--end::Search Form-->
      <!--begin: Datatable-->
      <div class="example-container custom-table">
        <mat-table [dataSource]="dataSource">
          <!-- Checkbox -->
          <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef>
              <mat-checkbox
                (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()"
                class="custom-checkbox"
              >
              </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)"
                class="custom-checkbox"
              >
              </mat-checkbox>
            </mat-cell>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name of Sponsor </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.name }} </mat-cell>
          </ng-container>
          <!-- Country Column -->
          <ng-container matColumnDef="country">
            <mat-header-cell *matHeaderCellDef> Country </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.country }} </mat-cell>
          </ng-container>
          <!-- Description Column -->
          <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.description }} </mat-cell>
          </ng-container>
          <!-- Created By Column -->
          <ng-container matColumnDef="createdBy">
            <mat-header-cell *matHeaderCellDef> Created By </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.createdBy }} </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
        </mat-table>
        <mat-paginator
          (page)="handlePageEvent($event)"
          [length]="length"
          [pageSize]="pageSize"
          [pageSizeOptions]="pageSizeOptions"
          (page)="pageEvent = $event"
          showFirstLastButtons
        >
        </mat-paginator>
      </div>
      <!--end: Datatable-->
    </div>
  </div>
  <!--end::Card-->
  