.cstm-card{
    background: transparent;
    .cstm-card-header, .cstm-card-body{
        background: white;
    }
    .cstm-card-header{
        margin-bottom: 15px;
    }
    .list-image{
        width: 48px;
        height: 48px;
        object-fit: cover;
    }
}
.relative-sponsor {
  position: relative;
}
.close-sponsor {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 13px;
}
.loader-right {
  right: 28px;
}
