.sponsor-table {
  td {
    word-break: break-word;
  }
}
.cstm-card {
  background: transparent;
  .cstm-card-header,
  .cstm-card-body {
    background: #fff;
  }
  .cstm-card-header {
    margin-bottom: 15px;
  }
  .list-image {
    width: 48px;
    height: 48px;
    object-fit: cover;
  }
  .cstm-card-body {
    table.table.table-head-custom thead {
      background: #deefc9;
      th {
        color: #505050 !important;
        padding: 20px 0.75rem;
        font-size: 11px;
        font-weight: 900;
        .checkbox > span {
          background-color: #fff;
        }
        .checkbox > input:checked ~ span {
          background-color: #8bc540;
        }
      }
    }
  }
}
.relative-sponsor {
  position: relative;
}
.close-sponsor {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 13px;
}
.loader-right {
  right: 28px;
}
.btn-primary.search-btn:focus {
  color: #ffffff;
  background-color: #8bc540;
  border-color: #8bc540;
}
.label.label-light-success {
  background-color: #409143;
  color: #fff;
}

.label {
  white-space: nowrap;
}

.btn {
  white-space: nowrap;
}

.search-btn {
  padding: 0.4rem;
}

.form-group-search-btn {
  display: flex;
  align-items: flex-end;
}